# Build Firmware
CONFIG_TARGET_armvirt=y
CONFIG_TARGET_armvirt_64=y
CONFIG_TARGET_armvirt_64_Default=y
CONFIG_TARGET_ROOTFS_CPIOGZ=n
CONFIG_TARGET_ROOTFS_EXT4FS=n
CONFIG_TARGET_ROOTFS_SQUASHFS=n
CONFIG_TARGET_ROOTFS_TARGZ=y
CONFIG_SIGNED_PACKAGES=n
CONFIG_SIGNATURE_CHECK=n
CONFIG_ALL_NONSHARED=y
CONFIG_IB=y
CONFIG_IB_STANDALONE=y
CONFIG_JSON_OVERVIEW_IMAGE_INFO=y
CONFIG_FEED_telephony=n

# autocore
CONFIG_PACKAGE_autocore-arm=y

# Web Servers/Proxies
CONFIG_PACKAGE_luci-ssl=n
CONFIG_PACKAGE_luci-ssl-nginx=y

# Filesystems
CONFIG_PACKAGE_kmod-fs-autofs4=y
CONFIG_PACKAGE_kmod-fs-btrfs=y
CONFIG_PACKAGE_kmod-fs-cifs=y
CONFIG_PACKAGE_kmod-fs-exfat=y
CONFIG_PACKAGE_kmod-fs-exportfs=y
CONFIG_PACKAGE_kmod-fs-ext4=y
CONFIG_PACKAGE_kmod-fs-f2fs=y
CONFIG_PACKAGE_kmod-fs-hfs=y
CONFIG_PACKAGE_kmod-fs-hfsplus=y
CONFIG_PACKAGE_kmod-fs-isofs=y
CONFIG_PACKAGE_kmod-fs-msdos=y
CONFIG_PACKAGE_kmod-fs-nfs=y
CONFIG_PACKAGE_kmod-fs-nfs-common=y
CONFIG_PACKAGE_kmod-fs-nfs-common-rpcsec=y
CONFIG_PACKAGE_kmod-fs-nfs-v4=y
CONFIG_PACKAGE_kmod-fs-nfsd=y
CONFIG_PACKAGE_kmod-fs-ntfs3-oot=y
CONFIG_PACKAGE_kmod-fs-squashfs=y
CONFIG_PACKAGE_kmod-fs-udf=y
CONFIG_PACKAGE_kmod-fs-vfat=y
CONFIG_PACKAGE_kmod-fs-xfs=y
CONFIG_PACKAGE_kmod-fuse=y

# Wireless Drivers
CONFIG_BRCMFMAC_SDIO=y
CONFIG_PACKAGE_kmod-brcmfmac=y
CONFIG_PACKAGE_kmod-brcmutil=y
CONFIG_PACKAGE_kmod-cfg80211=y
CONFIG_PACKAGE_kmod-mac80211=y

# Network Devices
CONFIG_PACKAGE_kmod-b44=y
CONFIG_PACKAGE_kmod-dummy=y
CONFIG_PACKAGE_kmod-ifb=y
CONFIG_PACKAGE_kmod-libphy=y
CONFIG_PACKAGE_kmod-macvlan=y
CONFIG_PACKAGE_kmod-mii=y

# WirelessAPD
CONFIG_PACKAGE_hostapd-common=y
CONFIG_PACKAGE_wpa-cli=y
CONFIG_PACKAGE_wpad-basic=y

# IPv6支持:
CONFIG_IPV6=y

# Applications
CONFIG_PACKAGE_luci-app-accesscontrol=n
CONFIG_PACKAGE_luci-app-acme=n
CONFIG_PACKAGE_luci-app-adblock=n
CONFIG_PACKAGE_luci-app-adbyby-plus=n
CONFIG_PACKAGE_luci-app-advanced-reboot=n
CONFIG_PACKAGE_luci-app-advanced=y
CONFIG_PACKAGE_luci-app-advancedsetting=n
CONFIG_PACKAGE_luci-app-ahcp=n
CONFIG_PACKAGE_luci-app-airplay2=n
CONFIG_PACKAGE_luci-app-airwhu=n
CONFIG_PACKAGE_luci-app-aliddns=n
CONFIG_PACKAGE_luci-app-aliyundrive-fuse=y
CONFIG_PACKAGE_luci-app-aliyundrive-webdav=n
CONFIG_PACKAGE_luci-app-amlogic=y
CONFIG_PACKAGE_luci-app-amule=n
CONFIG_PACKAGE_luci-app-appfilter=n
CONFIG_PACKAGE_luci-app-argon-config=y
CONFIG_PACKAGE_luci-app-aria2=y
CONFIG_PACKAGE_luci-app-arpbind=y
CONFIG_PACKAGE_luci-app-asterisk=n
CONFIG_PACKAGE_luci-app-attendedsysupgrade=n
CONFIG_PACKAGE_luci-app-autoreboot=n
CONFIG_PACKAGE_luci-app-autotimeset=y
CONFIG_PACKAGE_luci-app-baidupcs-web=n
CONFIG_PACKAGE_luci-app-bcp38=n
CONFIG_PACKAGE_luci-app-beardropper=n
CONFIG_PACKAGE_luci-app-bird1-ipv4=n
CONFIG_PACKAGE_luci-app-bird1-ipv6=n
CONFIG_PACKAGE_luci-app-bmx6=n
CONFIG_PACKAGE_luci-app-brook-server=n
CONFIG_PACKAGE_luci-app-cd8021x=n
CONFIG_PACKAGE_luci-app-cifs-mount=n
CONFIG_PACKAGE_luci-app-cifs=n
CONFIG_PACKAGE_luci-app-cifsd=n
CONFIG_PACKAGE_luci-app-cjdns=n
CONFIG_PACKAGE_luci-app-clamav=n
CONFIG_PACKAGE_luci-app-commands=n
CONFIG_PACKAGE_luci-app-control-timewol=y
CONFIG_PACKAGE_luci-app-control-webrestriction=y
CONFIG_PACKAGE_luci-app-control-weburl=y
CONFIG_PACKAGE_luci-app-cpufreq=n
CONFIG_PACKAGE_luci-app-cpulimit=n
CONFIG_PACKAGE_luci-app-cshark=n
CONFIG_PACKAGE_luci-app-cupsd=n
CONFIG_PACKAGE_luci-app-dawn=n
CONFIG_PACKAGE_luci-app-ddns-go=y
CONFIG_PACKAGE_luci-app-ddns=n
CONFIG_PACKAGE_luci-app-ddnsto=y
CONFIG_PACKAGE_luci-app-diag-core=n
CONFIG_PACKAGE_luci-app-diskman=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_btrfs_progs=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_lsblk=y
CONFIG_PACKAGE_luci-app-diskman_INCLUDE_mdadm=n
CONFIG_PACKAGE_luci-app-dnscrypt-proxy=n
CONFIG_PACKAGE_luci-app-dnsforwarder=n
CONFIG_PACKAGE_luci-app-docker=n
CONFIG_PACKAGE_luci-app-dockerman=y
CONFIG_PACKAGE_luci-app-dump1090=n
CONFIG_PACKAGE_luci-app-dynapoint=n
CONFIG_PACKAGE_luci-app-e2guardian=n
CONFIG_PACKAGE_luci-app-easymesh=n
CONFIG_PACKAGE_luci-app-eqos=n
CONFIG_PACKAGE_luci-app-fileassistant=n
CONFIG_PACKAGE_luci-app-filebrowser=n
CONFIG_PACKAGE_luci-app-filetransfer=n
CONFIG_PACKAGE_luci-app-frpc=n
CONFIG_PACKAGE_luci-app-frps=n
CONFIG_PACKAGE_luci-app-fwknopd=n
CONFIG_PACKAGE_luci-app-gost=n
CONFIG_PACKAGE_luci-app-gowebdav=n
CONFIG_PACKAGE_luci-app-guest-wifi=n
CONFIG_PACKAGE_luci-app-haproxy-tcp=n
CONFIG_PACKAGE_luci-app-hd-idle=y
CONFIG_PACKAGE_luci-app-hnet=n
CONFIG_PACKAGE_luci-app-https-dns-proxy=n
CONFIG_PACKAGE_luci-app-https_dns_proxy=n
CONFIG_PACKAGE_luci-app-ipsec-server=n
CONFIG_PACKAGE_luci-app-ipsec-vpnd=n
CONFIG_PACKAGE_luci-app-ipsec-vpnserver-manyusers=n
CONFIG_PACKAGE_luci-app-iptvhelper=n
CONFIG_PACKAGE_luci-app-kcptun=n
CONFIG_PACKAGE_luci-app-kodexplorer=n
CONFIG_PACKAGE_luci-app-ksmbd=y
CONFIG_PACKAGE_luci-app-lucky=n
CONFIG_PACKAGE_luci-app-lxc=n
CONFIG_PACKAGE_luci-app-mentohust=n
CONFIG_PACKAGE_luci-app-minidlna=y
CONFIG_PACKAGE_luci-app-minieap=n
CONFIG_PACKAGE_luci-app-mjpg-streamer=n
CONFIG_PACKAGE_luci-app-mosdns=n
CONFIG_PACKAGE_luci-app-music-remote-center=n
CONFIG_PACKAGE_luci-app-mwan3=n
CONFIG_PACKAGE_luci-app-mwan3helper=n
CONFIG_PACKAGE_luci-app-mwol=n
CONFIG_PACKAGE_luci-app-n2n=n
CONFIG_PACKAGE_luci-app-n2n_v2=n
CONFIG_PACKAGE_luci-app-naiveproxy=n
CONFIG_PACKAGE_luci-app-netdata=y
CONFIG_PACKAGE_luci-app-netspeedtest=y
CONFIG_PACKAGE_luci-app-nfs=y
CONFIG_PACKAGE_luci-app-nft-qos=n
CONFIG_PACKAGE_luci-app-nginx-pingos=n
CONFIG_PACKAGE_luci-app-ngrokc=n
CONFIG_PACKAGE_luci-app-njitclient=n
CONFIG_PACKAGE_luci-app-nlbwmon=y
CONFIG_PACKAGE_luci-app-noddos=n
CONFIG_PACKAGE_luci-app-nps=n
CONFIG_PACKAGE_luci-app-ntpc=n
CONFIG_PACKAGE_luci-app-ocserv=n
CONFIG_PACKAGE_luci-app-oled=n
CONFIG_PACKAGE_luci-app-olsr-services=n
CONFIG_PACKAGE_luci-app-olsr-viz=n
CONFIG_PACKAGE_luci-app-olsr=n
CONFIG_PACKAGE_luci-app-onliner=y
CONFIG_PACKAGE_luci-app-openclash=y
CONFIG_PACKAGE_luci-app-openvpn-server=n
CONFIG_PACKAGE_luci-app-openvpn=n
CONFIG_PACKAGE_luci-app-oscam=n
CONFIG_PACKAGE_luci-app-p910nd=n
CONFIG_PACKAGE_luci-app-pagekitec=n
CONFIG_PACKAGE_luci-app-pgyvpn=n
CONFIG_PACKAGE_luci-app-phtunnel=n
CONFIG_PACKAGE_luci-app-polipo=n
CONFIG_PACKAGE_luci-app-pppoe-relay=n
CONFIG_PACKAGE_luci-app-pppoe-server=n
CONFIG_PACKAGE_luci-app-pptp-server=n
CONFIG_PACKAGE_luci-app-privoxy=n
CONFIG_PACKAGE_luci-app-ps3netsrv=n
CONFIG_PACKAGE_luci-app-pushbot=y
CONFIG_PACKAGE_luci-app-qbittorrent-simple=n
CONFIG_PACKAGE_luci-app-qbittorrent-simple_dynamic=n
CONFIG_PACKAGE_luci-app-qbittorrent-simple_static=n
CONFIG_PACKAGE_luci-app-qbittorrent=n
CONFIG_PACKAGE_luci-app-qbittorrent_dynamic=n
CONFIG_PACKAGE_luci-app-qbittorrent_static=n
CONFIG_PACKAGE_luci-app-qos=n
CONFIG_PACKAGE_luci-app-radicale=n
CONFIG_PACKAGE_luci-app-ramfree=y
CONFIG_PACKAGE_luci-app-rclone=y
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-ng=y
CONFIG_PACKAGE_luci-app-rclone_INCLUDE_rclone-webui=y
CONFIG_PACKAGE_luci-app-rp-pppoe-server=n
CONFIG_PACKAGE_luci-app-samba4=y
CONFIG_PACKAGE_luci-app-samba=n
CONFIG_PACKAGE_luci-app-scutclient=n
CONFIG_PACKAGE_luci-app-serverchan=y
CONFIG_PACKAGE_luci-app-shairplay=n
CONFIG_PACKAGE_luci-app-siitwizard=n
CONFIG_PACKAGE_luci-app-simple-adblock=n
CONFIG_PACKAGE_luci-app-smartdns=n
CONFIG_PACKAGE_luci-app-smartinfo=n
CONFIG_PACKAGE_luci-app-smstool=n
CONFIG_PACKAGE_luci-app-socat=n
CONFIG_PACKAGE_luci-app-softethervpn5=n
CONFIG_PACKAGE_luci-app-softethervpn=n
CONFIG_PACKAGE_luci-app-speederv2=n
CONFIG_PACKAGE_luci-app-splash=n
CONFIG_PACKAGE_luci-app-sqm=y
CONFIG_PACKAGE_luci-app-squid=n
CONFIG_PACKAGE_luci-app-ssocks=n
CONFIG_PACKAGE_luci-app-statistics=n
CONFIG_PACKAGE_luci-app-syncdial=n
CONFIG_PACKAGE_luci-app-syncthing=n
CONFIG_PACKAGE_luci-app-sysuh3c=n
CONFIG_PACKAGE_luci-app-timecontrol=n
CONFIG_PACKAGE_luci-app-timewol=n
CONFIG_PACKAGE_luci-app-tinyproxy=n
CONFIG_PACKAGE_luci-app-transmission=n
CONFIG_PACKAGE_luci-app-travelmate=n
CONFIG_PACKAGE_luci-app-ttyd=y
CONFIG_PACKAGE_luci-app-turboacc=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_BBR_CCA=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_DNSFORWARDER=n
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_DNSPROXY=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_OFFLOADING=y
CONFIG_PACKAGE_luci-app-turboacc_INCLUDE_PDNSD=n
CONFIG_PACKAGE_luci-app-udp2raw=n
CONFIG_PACKAGE_luci-app-udpxy=n
CONFIG_PACKAGE_luci-app-uhttpd=n
CONFIG_PACKAGE_luci-app-unblockneteasemusic=y
CONFIG_PACKAGE_luci-app-unbound=n
CONFIG_PACKAGE_luci-app-upnp=y
CONFIG_PACKAGE_luci-app-usb-printer=n
CONFIG_PACKAGE_luci-app-usb3disable=n
CONFIG_PACKAGE_luci-app-uugamebooster=n
CONFIG_PACKAGE_luci-app-verysync=y
CONFIG_PACKAGE_luci-app-vlmcsd=y
CONFIG_PACKAGE_luci-app-vnstat=n
CONFIG_PACKAGE_luci-app-vpn-policy-routing=n
CONFIG_PACKAGE_luci-app-vpnbypass=n
CONFIG_PACKAGE_luci-app-vsftpd=n
CONFIG_PACKAGE_luci-app-watchcat=n
CONFIG_PACKAGE_luci-app-webadmin=n
CONFIG_PACKAGE_luci-app-webdav=n
CONFIG_PACKAGE_luci-app-webrestriction=n
CONFIG_PACKAGE_luci-app-weburl=n
CONFIG_PACKAGE_luci-app-wifischedule=n
CONFIG_PACKAGE_luci-app-wireguard=y
CONFIG_PACKAGE_luci-app-wol=n
CONFIG_PACKAGE_luci-app-wrtbwmon=n
CONFIG_PACKAGE_luci-app-xlnetacc=n
CONFIG_PACKAGE_luci-app-zerotier=y
CONFIG_PACKAGE_uci-app-wizard=n

# Themes
CONFIG_PACKAGE_luci-theme-argon=y

# Perl
CONFIG_PACKAGE_perl=y
CONFIG_PACKAGE_perl-http-date=y
CONFIG_PACKAGE_perlbase-file=y
CONFIG_PACKAGE_perlbase-getopt=y
CONFIG_PACKAGE_perlbase-time=y
CONFIG_PACKAGE_perlbase-unicode=y
CONFIG_PACKAGE_perlbase-utf8=y

# Python
CONFIG_PACKAGE_python3=y
CONFIG_PACKAGE_python-pip-conf=y

# Software
CONFIG_PACKAGE_dnsmasq=n
CONFIG_PACKAGE_dnsmasq-full=y
CONFIG_PACKAGE_dnsmasq_full_dhcp=y
CONFIG_PACKAGE_dnsmasq_full_ipset=y

CONFIG_CCACHE=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=16
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_DEVEL=y
CONFIG_LUCI_LANG_en=y
CONFIG_LUCI_LANG_zh-cn=y
CONFIG_PACKAGE_coremark=y
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_kmod-lib-lz4=y
CONFIG_PACKAGE_kmod-lib-zstd=y
CONFIG_PACKAGE_kmod-shortcut-fe=y
CONFIG_PACKAGE_luci-base=y
CONFIG_PACKAGE_luci-compat=y
CONFIG_PACKAGE_luci-lib-ipkg=y
CONFIG_PACKAGE_luci-ssl-openssl=y
CONFIG_PACKAGE_nano=y
CONFIG_PACKAGE_v2ray-core=n
CONFIG_PACKAGE_v2ray-plugin=n
CONFIG_PACKAGE_v2raya=n
CONFIG_PACKAGE_wget-ssl=y
CONFIG_PACKAGE_xray-core=n
CONFIG_PACKAGE_xray-plugin=n
CONFIG_PACKAGE_zoneinfo-asia=y
CONFIG_PACKAGE_zram-swap=y
CONFIG_XRAY_PROVIDE_V2RAY=n

CONFIG_OPENSSL_OPTIMIZE_SPEED=y
CONFIG_OPENSSL_PREFER_CHACHA_OVER_GCM=y
CONFIG_OPENSSL_ENGINE_BUILTIN=y
CONFIG_OPENSSL_ENGINE_BUILTIN_AFALG=y
CONFIG_OPENSSL_ENGINE_BUILTIN_DEVCRYPTO=y

CONFIG_BUSYBOX_CUSTOM=y
CONFIG_BUSYBOX_CONFIG_FEATURE_XARGS_SUPPORT_REPL_STR=y
CONFIG_BUSYBOX_CONFIG_FEATURE_CROND_SPECIAL_TIMES=y
CONFIG_BUSYBOX_CONFIG_FEATURE_SYSLOG_INFO=y

CONFIG_PACKAGE_bash=y
CONFIG_PACKAGE_ca-bundle=y
CONFIG_PACKAGE_zsh=y

CONFIG_PACKAGE_docker-compose=y
CONFIG_PACKAGE_dockerd=y

CONFIG_PACKAGE_kmod-switch-ar8xxx=n
CONFIG_PACKAGE_kmod-hermes-pci=n
CONFIG_PACKAGE_kmod-hermes-pcmcia=n
CONFIG_PACKAGE_kmod-hermes-plx=n
CONFIG_PACKAGE_kmod-ipw2100=n
CONFIG_PACKAGE_kmod-ipw2200=n
CONFIG_PACKAGE_kmod-libipw=n
