name: 'Build OpenWrt'

on:
  workflow_dispatch:
    inputs:
      diy_config:
        description: 'Load custom configuration'
        required: false
        type: boolean
        default: true
      package_method:
        description: 'Select package method'
        required: false
        type: choice
        options:
          - flippy
          - ophub
        default: flippy
      package_board:
        description: 'Select device board'
        required: false
        type: choice
        options:
          - h28k_s905d
        default: h28k_s905d
      package_kernel:
        description: 'Select kernel version'
        required: false
        type: choice
        options:
          - 5.4.y
          - 5.10.y
          - 5.15.y
          - 6.1.y
          - 6.6.y
          - 6.12.y
        default: 6.12.y
      package_auto_kernel:
        description: 'Auto use the latest kernel'
        required: false
        type: boolean
        default: true

jobs:
  Caller:
    if: github.event.repository.owner.id == github.event.sender.id
    strategy:
      fail-fast: false
      matrix:
        source_branch: [immortalwrt, lede]
        setup:
          - { t: armv8,    b: rootfs }
          - { t: ramips,   b: d2 }
          - { t: ramips,   b: r1cl }
          - { t: ramips,   b: r1cm }
          - { t: ramips,   b: rm2100 }
          - { t: mediatek, b: ax3000t }
        include:
          - source_branch: immortalwrt-mt798x
            setup: { t: mediatek, b: ax3000t }

    uses: ./.github/workflows/build.yml
    with:
      source_branch: ${{ matrix.source_branch }}
      openwrt_target: ${{ matrix.setup.t }}
      openwrt_board: ${{ matrix.setup.b }}
      diy_config: ${{ inputs.diy_config }}
      package_method: ${{ inputs.package_method }}
      package_board: ${{ inputs.package_board }}
      package_kernel: ${{ inputs.package_kernel }}
      package_auto_kernel: ${{ inputs.package_auto_kernel }}